@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, period: Period, index: Index)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("countryOfEstablishmentFromEu.title"), Some(period.displayText))) {

    @formHelper(action = routes.CountryOfEstablishmentFromEuController.onSubmit(mode, period, index), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form,  errorLinkOverrides = Map("value" -> "value_0")))
        }

        @govukRadios(
            RadiosViewModel(
                field  = form("value"),
                items  = CountryOfEstablishmentFromEu.options,
                legend = LegendViewModel(
                    headingWithCaption(messages("countryOfEstablishmentFromEu.heading"), period.displayText)
                ).asPageHeading()
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
