@import viewmodels.InputWidth._
@import viewmodels.InputWidth

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton,
    govukSelect: GovukSelect
)

@(form: Form[_], mode: Mode, period: Period, index: Index)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("countryOfConsumptionFromNi.title"), Some(period.displayText))) {

    @formHelper(action = routes.CountryOfConsumptionFromNiController.onSubmit(mode, period, index), 'autocomplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukSelect(
            SelectViewModel(
                field = form("value"),
                items = Country.euCountrySelectItems,
                label = LabelViewModel(
                    headingWithCaption(messages("countryOfConsumptionFromNi.heading"), period.displayText)
                ).asPageHeading()
            )
            .withCssClass(InputWidth.Fixed20.toString)
            .withCssClass("autocomplete")
        )


        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
