@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukSelect: GovukSelect,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, period: Period, index: Index)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("countryOfSaleFromEu.title"), Some(period.displayText))) {

    @formHelper(action = routes.CountryOfSaleFromEuController.onSubmit(mode, period, index)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukSelect(
            SelectViewModel(
                field = form("value"),
                items = Country.euCountrySelectItems,
                label = LabelViewModel(
                    headingWithCaption(messages("countryOfSaleFromEu.heading"), period.displayText)
                ).asPageHeading()
            )
            .withCssClass(Fixed20.toString)
            .withCssClass("autocomplete")
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
