@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(
    form: Form[_],
    mode: Mode,
    period: Period,
    countryFromIndex: Index,
    countryToIndex: Index,
    countryFrom: Country,
    countryTo: Country
)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(
    form,
    messages("deleteSalesToEu.title", countryFrom.name, countryTo.name),
    Some(period.displayText)
)) {

    @formHelper(action = routes.DeleteSalesToEuController.onSubmit(mode, period, countryFromIndex, countryToIndex), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = HmrcPageHeadingLegend(
                    content = messages("deleteSalesToEu.heading", countryFrom.name, countryTo.name),
                    caption = period.displayText
                )
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
