@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, period: Period, index: Index, country: Country)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(
    form,
    messages("deleteSalesFromNi.title", country.name)),
    Some(period.displayText)
) {

    @formHelper(action = routes.DeleteSalesFromNiController.onSubmit(mode, period, index), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(
                    headingWithCaption(
                        messages("deleteSalesFromNi.heading", country.name),
                        period.displayText
                    )
                ).asPageHeading()
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
