@import uk.gov.hmrc.hmrcfrontend.views.config.HmrcPageHeadingLabel
@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, period: Period, countryIndex: Index, vatRateIndex: Index, country: Country, vatRate: VatRate)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(
    form,
    messages("netValueOfSalesFromNi.title", vatRate.rateForDisplay),
    Some(messages("caption.fromNi.periodAndCountry", period.displayText, country.name))
)) {

    @formHelper(action = routes.NetValueOfSalesFromNiController.onSubmit(mode, period, countryIndex, vatRateIndex), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = HmrcPageHeadingLabel(
                    content = messages("netValueOfSalesFromNi.heading", vatRate.rateForDisplay),
                    caption = messages("caption.fromNi.periodAndCountry", period.displayText, country.name)
                )
            )
            .asNumeric()
            .withWidth(Fixed10)
            .withCssClass("govuk-currency-input__inner__input")
            .withPrefix(PrefixOrSuffix(content = Text("£")))
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
