@this(
        layout: templates.Layout,
        govukButton: GovukButton
)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("noOtherPeriodsAvailable.title"))) {

    <h1 class="govuk-heading-xl">@messages("noOtherPeriodsAvailable.heading")</h1>

    <p class="govuk-body">@messages("noOtherPeriodsAvailable.label")</p>

    @govukButton(
        ButtonViewModel(messages("noOtherPeriodsAvailable.submit"))
                .asLink(routes.IndexController.onPageLoad().url)
    )
}
