@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.addtoalist.{ListItem, Long}
@import viewmodels.LegendSize

@this(
        layout: templates.Layout,
        formHelper: FormWithCSRF,
        govukErrorSummary: GovukErrorSummary,
        govukRadios: GovukRadios,
        govukButton: GovukButton,
        addToList: components.addToList
)

@(form: Form[_], mode: Mode, list: Seq[ListItem], period: Period, canAddCountries: Boolean)(implicit request: Request[_], messages: Messages)
@defining(if(list.size == 1) ".singular" else "") { messageSuffix =>

    @layout(pageTitle = title(
        form,
        messages("salesFromNiList.title" + messageSuffix, list.size),
        Some(period.displayText)
    )) {

        @formHelper(action = routes.SalesFromNiListController.onSubmit(mode, period), 'autoComplete -> "off") {

            @if(form.errors.nonEmpty) {
                @govukErrorSummary(ErrorSummaryViewModel(form))
            }

            <header class="hmrc-page-heading">
                <h1 class="govuk-heading-xl">@messages("salesFromNiList.heading" + messageSuffix, list.size)</h1>
                <p class="govuk-caption-xl hmrc-caption-xl">@period.displayText</p>
            </header>

            @addToList(list, Long, "salesFromNiList.change.hidden", "salesFromNiList.remove.hidden", None)

            @if(canAddCountries) {
                @govukRadios(
                    RadiosViewModel.yesNo(
                        field = form("value"),
                        legend = LegendViewModel(
                            HtmlContent(
                                Html(messages("salesFromNiList.addAnother")))
                        ).withSize(LegendSize.Medium)
                    ).withHint(
                        HintViewModel(messages("salesFromNiList.hint"))
                    )
                )
            } else {
                <p class="govuk-body">@messages("salesFromNiList.maximumReached")</p>
                <input type="hidden" name="value" id="value" value="false"/>
            }

            @govukButton(
                ButtonViewModel(messages("site.continue"))
            )
        }
    }
}