@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, period: Period)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("soldGoodsFromEu.title"), Some(period.displayText))) {

    @formHelper(action = routes.SoldGoodsFromEuController.onSubmit(mode, period), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(
                    headingWithCaption(messages("soldGoodsFromEu.heading"), period.displayText)
                ).asPageHeading()
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
