@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(
    form: Form[_],
    mode: Mode,
    period: Period,
    countryFromIndex: Index,
    countryToIndex: Index,
    vatRateIndex: Index,
    countryFrom: Country,
    countryTo: Country,
    vatRate: VatRate
)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(
    form,
    messages("vatOnSalesFromEu.title", vatRate.rateForDisplay),
    Some(messages("caption.fromEu.periodAndCountries", period.displayText, countryFrom.name, countryTo.name))
)) {

    @formHelper(action = routes.VatOnSalesFromEuController.onSubmit(mode, period, countryFromIndex, countryToIndex, vatRateIndex), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(
                    headingWithCaption(
                        messages("vatOnSalesFromEu.heading"),
                        messages("caption.fromEu.periodAndCountries", period.displayText, countryFrom.name, countryTo.name)
                    )
                ).asPageHeading()
            )
            .asNumeric()
            .withWidth(Fixed10)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
