@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukCheckboxes: GovukCheckboxes,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, period: Period, countryFromIndex: Index, countryToIndex: Index, countryFrom: Country, countryTo: Country, checkboxItems: Seq[CheckboxItem])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(
    form,
    messages("vatRatesFromEu.title"),
    Some(messages("caption.fromEu.periodAndCountries", period.displayText, countryFrom.name, countryTo.name))
)) {

    @formHelper(action = routes.VatRatesFromEuController.onSubmit(mode, period, countryFromIndex, countryToIndex), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form, errorLinkOverrides = Map("value" -> "value_0")))
        }

        @govukCheckboxes(
            CheckboxesViewModel(
                form   = form,
                name   = "value",
                items  = checkboxItems,
                legend = HmrcPageHeadingLegend(
                    content = messages("vatRatesFromEu.heading"),
                    caption = messages("caption.fromEu.periodAndCountries", period.displayText, countryFrom.name, countryTo.name)
                )
            ).withHint(HintViewModel(messages("vatRatesFromEu.hint")))
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
