@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukCheckboxes: GovukCheckboxes,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, period: Period, index: Index)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("vatRatesFromNi.title"))) {

    @formHelper(action = routes.VatRatesFromNiController.onSubmit(mode, period, index), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form, errorLinkOverrides = Map("value" -> "value_0")))
        }

        @govukCheckboxes(
            CheckboxesViewModel(
                form   = form,
                name   = "value",
                legend = LegendViewModel(messages("vatRatesFromNi.heading")).asPageHeading(),
                items  = VatRatesFromNi.checkboxItems
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
